/*
*  html5resetcss
*/
*{box-sizing: border-box;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

html{
    font-family: "Inter", sans-serif;
}

/* Header */
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.625em;
    width: 100%;
    height: 200px;
    background-color: #26252b;
    color: #ffffff;
}

.header-title{
    font-size: 1.8rem;
}

.my-watchlist{
    font-size: 0.7rem;
}

/* Search */

.search-container{
    position: absolute;
    z-index: 99999;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #D1D5DB;
    
}

.search-box, .search-btn{
    padding: 1em;
    border: none;
}

.search-box{
    width: 100%;
    
}

.search-btn{
    width: 30%;
    border-left: 1px solid #e2e5e8;
    border-radius: 0 6px 6px 0;
    color: #374150;
    background-color: #f9fafb;
    font-family: inherit;
    font-weight: 600;
    transition: all 0.2s;
}

.search-btn:hover{
    background-color: #D6DADF;
    cursor: pointer;
}

.fa-magnifying-glass, .search-box{
    color: #6B7280;
}

.fa-magnifying-glass{
    padding: 0 0.813em;
}

/* Movie section */

.movie-container{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-icon-placeholder{
    margin-top: 8em;
    text-align: center;
    color: #DFDDDD
}

.fa-film{
    font-size: 4rem;
    margin-bottom: 0.1em;
}

/* Movie */

.movie{
    display: flex;
    align-items: center;
    gap: 1em;
    /* height: 150px; */
    width: 80%;
    margin: 0 2.5em;
    padding: 1.2em 0;
    border-bottom: 1px solid #E5E7EB;
}

.poster{
    height: 100%;
    width: 85px;
    border-radius: 4px;
}

.poster > img{
    height: 100%;
    width: 85px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0px #000000;
    
}

.movie-header{
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #000000;
    font-size: 1.125rem;
}

.movie-info{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    justify-content: center;
}

.meta-info{
    display: flex;
    justify-content: flex-start;
    gap: 1.2em;
    font-size: 0.6rem;
    color: #111827;
    font-weight: 500;
}

.movie-desc{
    font-size: 0.75rem;
    word-spacing: 2px;
    color: #6B7280;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fa-star{
    font-size: 0.6rem;
    color: #FEC654;
}

.rating{
    font-size: 0.6rem;
    color: #111827;
    font-weight: 500;
}